[user]
	name = Dustin Krysak
    username = bashfulrobot
	email = dustin@bashfulrobot.com

[core]
	# editor = code-insiders
	whitespace = fix,-indent-with-non-tab,trailing-space
	excludesfile = ~/.gitignore

[web]
	browser = firefox

[color]
	ui = auto

[github]
	user = bashfulrobot